@use "../abstracts/mixins" as m;

.btn {
  @include m.base-button();

  .mdi {
    @apply text-base;
  }

  &--primary {
    @apply bg-primary text-white;

    &:hover,
    &:focus {
      @apply bg-support-4;
    }
  }

  &--primary-outline {
    @apply bg-white border border-solid border-primary text-primary;

    &:hover,
    &:focus {
      @apply bg-primary text-white;
    }
  }

  &--secondary {
    @apply bg-secondary text-white;

    &:hover,
    &:focus {
      @apply bg-support-5;
    }
  }

  &--secondary-outline {
    @apply bg-white border border-solid border-secondary text-secondary;

    &:hover,
    &:focus {
      @apply bg-secondary text-white;
    }
  }

  &--plain {
    @apply bg-gray-50 text-white mr-1.5;

    &:hover,
    &:focus {
      @apply bg-gray-90;
    }
  }

  &--plain-outline {
    @apply bg-white border border-solid border-black text-black;

    &:hover,
    &:focus {
      @apply bg-gray-90 border-gray-90 text-white;
    }
  }

  &--success {
    @apply bg-success text-white;

    &:hover,
    &:focus {
      @apply bg-success;
    }
  }

  &--success-outline {
    @apply bg-white border border-solid border-success text-success;

    &:hover,
    &:focus {
      @apply bg-success text-white;
    }
  }

  &--info {
    @apply bg-info text-white;

    &:hover,
    &:focus {
      @apply bg-info;
    }
  }

  &--info-outline {
    @apply bg-white border border-solid border-info text-info;

    &:hover,
    &:focus {
      @apply bg-info text-white;
    }
  }

  &--warning {
    @apply bg-warning text-gray-90;

    &:hover,
    &:focus {
      @apply bg-warning;
    }
  }

  &--warning-outline {
    @apply bg-white border border-solid border-warning text-warning;

    &:hover,
    &:focus {
      @apply bg-warning text-gray-90;
    }
  }

  &--danger {
    @apply bg-error text-white;

    &:hover,
    &:focus {
      @apply bg-error;
    }
  }

  &--danger-outline {
    @apply bg-white border border-solid border-error text-error;

    &:hover,
    &:focus {
      @apply bg-error text-white;
    }
  }

  &-sm,
  &--sm{
    padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
    font-size: 13px;
  }
}

.p-button {
  @include m.base-button();
  @include m.button-filled-style('primary', 'primary-gradient');

  &:focus {
    @apply outline-none;
  }

  .p-badge {
    @apply bg-white font-semibold h-4 leading-4 min-w-[1rem] text-primary text-[0.625rem];
  }

  &.p-button-outlined {
    @include m.button-outlined-style('primary');
  }

  &.p-button-text {
    @include m.button-text-style('primary');
  }

  &.p-button-raised {
    @apply shadow-lg;
  }

  &.p-button-rounded {
    @apply rounded-full;
  }

  &.p-button-sm {
    padding: calc(0.25rem - 1px) calc(0.5rem - 1px);

    .p-button-icon,
    .p-button-label {
      font-size: 13px;
    }
  }

  &.p-button-lg {
    padding: calc(1rem - 1px) calc(2rem - 1px);

    .p-button-icon,
    .p-button-label {
      font-size: 18px;
    }
  }

  .p-button-icon {
    @apply text-base;
  }

  .p-button-label {
    @apply align-middle font-semibold text-base;
  }

  &.p-button-icon-only {
    @apply px-3 gap-0;

    .p-button-label {
      @apply flex-initial hidden w-0;
    }
  }

  &.p-button-link {
    @apply bg-transparent text-primary;

    &:enabled {
      &:hover,
      &:focus,
      &:active {
        @apply bg-gray-10;

        .p-button-label {
          @apply underline;
        }
      }
    }
  }
}

// secondary button
.p-button.p-button-secondary {
  @include m.button-filled-style('secondary', 'secondary-gradient');

  &.p-button-outlined {
    @include m.button-outlined-style('secondary');
  }

  &.p-button-text {
    @include m.button-text-style('secondary');
  }
}

.p-buttonset.p-button-secondary {
  > .p-button {
    @include m.button-filled-style('secondary', 'secondary-gradient');

    &.p-button-outlined {
      @include m.button-outlined-style('secondary');
    }

    &.p-button-text {
      @include m.button-text-style('secondary');
    }
  }
}

// contrast button
.p-button.p-button-contrast {
  @include m.button-filled-style('gray-90', 'black');

  &.p-button-outlined {
    @include m.button-outlined-style('black');
  }

  &.p-button-text {
    @include m.button-text-style('black');
  }
}

.p-buttonset.p-button-contrast {
  > .p-button {
    @include m.button-filled-style('gray-90', 'black');

    &.p-button-outlined {
      @include m.button-outlined-style('black');
    }

    &.p-button-text {
      @include m.button-text-style('black');
    }
  }
}

// info button
.p-button.p-button-info {
  @include m.button-filled-style('info', 'info-gradient');

  &.p-button-outlined {
    @include m.button-outlined-style('info');
  }

  &.p-button-text {
    @include m.button-text-style('info');
  }
}

.p-buttonset.p-button-info {
  > .p-button {
    @include m.button-filled-style('info', 'info-gradient');

    &.p-button-outlined {
      @include m.button-outlined-style('info');
    }

    &.p-button-text {
      @include m.button-text-style('info');
    }
  }
}

// success button
.p-button.p-button-success {
  @include m.button-filled-style('success', 'success-gradient');

  &.p-button-outlined {
    @include m.button-outlined-style('success');
  }

  &.p-button-text {
    @include m.button-text-style('success');
  }
}

.p-buttonset.p-button-success {
  > .p-button {
    @include m.button-filled-style('success', 'success-gradient');

    &.p-button-outlined {
      @include m.button-outlined-style('success');
    }

    &.p-button-text {
      @include m.button-text-style('success');
    }
  }
}

// warning button
.p-button.p-button-warn {
  @include m.button-filled-style('warning', 'warning-gradient');

  &.p-button-outlined {
    @include m.button-outlined-style('warning');
  }

  &.p-button-text {
    @include m.button-text-style('warning');
  }
}

.p-buttonset.p-button-warn {
  > .p-button {
    @include m.button-filled-style('warning', 'warning-gradient');

    &.p-button-outlined {
      @include m.button-outlined-style('warning');
    }

    &.p-button-text {
      @include m.button-text-style('warning');
    }
  }
}

// help button
.p-button.p-button-help {
  @include m.button-filled-style('tertiary', 'tertiary-gradient');

  &.p-button-outlined {
    @include m.button-outlined-style('tertiary');
  }

  &.p-button-text {
    @include m.button-text-style('tertiary');
  }
}

.p-buttonset.p-button-help {
  > .p-button {
    @include m.button-filled-style('tertiary', 'tertiary-gradient');
  }

  > .p-button.p-button-outlined {
    @include m.button-outlined-style('tertiary');
  }

  > .p-button.p-button-text {
    @include m.button-text-style('tertiary');
  }
}

// danger button
.p-button.p-button-danger {
  @include m.button-filled-style('danger', 'danger-gradient');

  &.p-button-outlined {
    @include m.button-outlined-style('danger');
  }

  &.p-button-text {
    @include m.button-text-style('danger');
  }
}

.p-buttonset.p-button-danger {
  > .p-button {
    @include m.button-filled-style('danger', 'danger-gradient');

    &.p-button-outlined {
      @include m.button-outlined-style('danger');
    }

    &.p-button-text {
      @include m.button-text-style('danger');
    }
  }
}

// toggle button
.p-togglebutton{
  &.p-button {
    &.p-highlight {

      &.p-button-contrast {
        @apply bg-support-1 text-primary;
      }
    }
  }
}
