// BASE CSS

.table{
  .checkbox{
    margin-top: -1px;
    margin-bottom: 0;
    padding: 0;
    width: 15px;
    position: relative;
    display: block;
    label{
      cursor: pointer;
      padding-left: 0;
      color: rgba(0,0,0, 0.5);
      min-height: 20px;
      margin-bottom: 0;
    }
    input[type=checkbox] {
      opacity: 0;
      position: absolute;
      margin: 0;
      z-index: -1;
      width: 0;
      height: 0;
      overflow: hidden;
      left: 0;
      pointer-events: none;
    }
  }
  .avatar-user{
    position: relative;
    display: block;
    width: 100%;
    .avatar{
      border: 1px solid #cdcdcd;
    }
  }
}
